@use "../utils/mixins";
@use "../utils/colors";
@use "../utils/extends";

.about-us {
    padding: 98px 0px 181px;
    // background: linear-gradient(to bottom, colors.$header-m-background-color 50%, colors.$background-gradient-1 50%);
    background: linear-gradient(to bottom, colors.$light-bg-color 50%, #295C7A 50%);
    // background: colors.$header-m-background-color;
    &__title {
        @include mixins.h2;
        @extend .text-centered;
        margin-bottom: 10px;
    }
    &__text {
        @include mixins.paragraph;
        @extend .text-centered;
        color: colors.$second-text-color;
        max-width: 431px;
        margin: 0px auto 60px;
    }
    &__video {
        width: auto;
        height: 442px;
        background-image: url("../../../images/about-us/image-md.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 768px) {
            background-image: url("../../../images/about-us/image-lg.jpg");
        }

    }
    &__pause-icon {
        display: block;
        width: 98px;
        height: 98px;
    }
}