$primary-color: #e97222;
$secondary-color-3: #e95022;
$secondary-color-4: #295C7A;
$background-gradient-1: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
$text-color: #252B42;
$second-text-color: #2b2a2a;
$light-text-color: #FFFFFF;
$dark-background-color: #252B42;
$muted-color: #000000;
$footer-sitemap-color: #ffffff;
$light-bg-color: #F7F7F7;
$light-bg-color-2: #FAFAFA;
$card-border-color: #E8E8E8;
$feedback-input-border: #E6E6E6;
$form-input-color: #F9F9F9;