$primary-color: #D0A144;
$secondary-color-3: #DBB468;
$secondary-color-4: #295C7A;
$background-gradient-1: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
$text-color: #252B42;
$second-text-color: #737373;
$light-text-color: #FFFFFF;
$dark-background-color: #252B42;
$muted-color: #BDBDBD;
$light-bg-color: #F7F7F7;
$light-bg-color-2: #FAFAFA;