@use "../utils/mixins";
@use "../utils/colors";
@use "../utils/extends";

.card-reviews {
    background: white;
    border: 1px solid #E8E8E8;
    padding: 35px 62px 35px 39px;
    border-radius: 5px;
    &__stars {
        margin-bottom: 20px;
    }
    &__star {
    }
    &__text {
        @include mixins.h6;
        color: colors.$second-text-color;
        margin-bottom: 20px;

    }
    &__author {
    }
}
.author {
    display: flex;
    &__photo {
        margin-right: 15px;
        width: 50px;
        height: 50px;
    }
    &__text {
    }
    &__link {
        @include mixins.link;
        color: colors.$primary-color;
        text-decoration: none;
    }
    &__position {
        @include mixins.h6;
        color: colors.$text-color;
    }
}