@use "../utils/mixins";
@use "../utils/colors";
@use "../utils/extends";

.card-features {
    border: 1px solid colors.$card-border-color;
    padding: 35px 62px 35px 39px;
    &__row {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    &__icon {
        width: 48px;
        height: 48px;
        margin-right: 15px;
    }
    &__title {
        color: colors.$text-color;
        @include mixins.h5;
    }
    &__text {
        color: colors.$second-text-color;
        @include mixins.paragraph;
    }
}